<!-- Begin Preloader -->
<div id="preloader">
  <div class="canvas">
      <img src="assets/img/logo.png" alt="logo" class="loader-logo">
      <div class="spinner"></div>   
  </div>
</div>
<!-- End Preloader -->
<!-- Begin Container -->
<div class="container-fluid no-padding h-100">
  <div class="row flex-row h-100 bg-white">
      <!-- Begin Left Content -->
      <div class="col-xl-8 col-lg-6 col-md-5 no-padding">
          <div class="seenboard-bg background-05">
              <div class="seenboard-overlay overlay-04"></div>
              <div class="authentication-col-content mx-auto">
                  <h1 class="gradient-text-01">
                      سـین بـورد!
                  </h1>
                  <span class="description">
                      پنل مدیریتی الیسام کامل و زیبا برای پیاده سازی ایده هایتان می توانید بهترین گزینه ها را ببنید  و انتخاب کنید.
                  </span>
              </div>
          </div>
      </div>
      <!-- End Left Content -->
      <!-- Begin Right Content -->
      <div class="col-xl-4 col-lg-6 col-md-7 my-auto no-padding">
          <!-- Begin Form -->
          <div class="authentication-form mx-auto">
              <div class="logo-centered">
                  <a href="db-default.html">
                      <img src="assets/img/logo.png" alt="logo">
                  </a>
              </div>
              <h3>ایجاد حساب کاربری</h3>
              <form>
                  <div class="group material-input">
        <input type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>ایمیل</label>
                  </div>
                  <div class="group material-input">
                      <input type="text" required>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>شماره کارت بانکی</label>
                  </div>
                  <div class="group material-input">
        <input type="password" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>رمز عبور</label>
                  </div>
                  <div class="group material-input">
        <input type="password" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>تایید رمز عبور</label>
                  </div>
              </form>
              <div class="row">
                  <div class="col text-left">
                      <div class="styled-checkbox">
                          <input type="checkbox" name="checkbox" id="agree">
                          <label for="agree">من <a href="#">قوانین و مقررات </a> را قبول می کنم</label>
                      </div>
                  </div>
              </div>
              <div class="sign-btn text-center">
                  <a href="db-default.html" class="btn btn-lg btn-gradient-01">
                      ساخت حساب کاربری
                  </a>
              </div>
              <div class="register">
                 آیا شما حساب کاربری دارید؟
                  <br>
                  <a href="pages-login.html">ورود</a>
              </div>  
          </div>
          <!-- End Form -->                      
      </div>
      <!-- End Right Content -->
  </div>
  <!-- End Row -->
</div>
<!-- End Container -->